.@{
      ViewData["Title"] - "Home Page";
 }
 
 <div class-"test-center">
         <h1 class-"display-4">Welcome to AZT Youtube Channel</h1>
         <p>Kepp Learning and <a href="https://docs.microsoft.com/aspnet/core">Please subscribe to this channel</a>.</p>
</div>